{% extends "main_layout.html" %}

{% block titulo %}Baggie - Home{% endblock %}
{% block body %}
    <div class="card" id="carta1">
      <h2 class="card_title">Sistema de empaques / Iniciar sesión</h2>
      <table>
        <tr>
          <td>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button>Iniciar sesión</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              <a href="/accounts/register/">Registrarse</a></h3></td>
        </tr>
      </table>
    </div>
{% endblock %}
